// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

#masthead {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $kd-lilac;
    z-index: 5;

    .logo-small { display: none; }
    
    .logo { width: 300px; margin: $baseline-small; display: inline-block; }

    .nav-main {
        
        background: $kd-mauve;
        text-align: right;
        display: block;
        padding-right: $baseline-small;

        ul {

            margin: 0;
            padding: 0;
            vertical-align: middle;	

            li {								
                text-transform: uppercase;
                font-size: $small;
                list-style-type: none;
                display: inline;
                vertical-align: middle;	

                a {
                    color: $black;
                    outline: none;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: $baseline-small;

                    &:hover {
                        color: $white;
                        text-decoration: none;
                    }
                }

                a:link {

                    img { 
                        vertical-align: middle;
                        width: 35px;
                        height: 35px;
                        border-radius: 100%;
                    }
                }

                .imgLink {

                    color: $kd-mauve;
                    margin: 0;

                    img {

                        &:hover, &:active {
                            color: $kd-mauve;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    
    &.grow {
        
        height: 45px;
        background: $kd-mauve;
        
        
            
            .logo { transform: translateY(-200%); transition: 0.3s; }
            
            .logo-small { 
                
                @include vertical-align(absolute);
                left: 0;
                height: 45px;
                display: block;
                
            }
            
            ul {
                
                @include vertical-align(absolute);
                right: $baseline-small;
                
            }
            
    }
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. MASTHEAD MOBILE -----------------------------------------------------------------------------------------------

.masthead-mobi {
    
    @include position (fixed, 0);
    bottom: auto;
    background: $kd-lilac;
    z-index: 100;
    
    .logo-mobi { width: auto; height: 45px; margin-top: 10px; margin-left: 10px; display: inline-block; }

}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 

	.masthead-mobi { display: block; }
    
    #masthead {
        
        display: none;

        nav {
            
            display: none;

        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 

	.masthead-mobi { display: block; }
    
    #masthead {
        
        display: none;

        nav {
            
            display: none;

        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { 

	.masthead-mobi { display: block; }
    
    #masthead {
        
        display: none;

        nav {
            
            display: none;

        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .masthead-mobi { display: none; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .masthead-mobi { display: none; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################