// 2. SECTION [ 2.3. FOOTEND ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FOOTEND -------------------------------------------------------------------------------------------------------

// A.1.2. Scroll to top

#wpfront-scroll-top-container { width: 65px; height: 65px;

    img { width: 100%!important; height: 100%!important; }
}

#footend {

    background: $kd-lilac;
    padding: 60px 0;
    
    // A.1.1. EMAIL US BUTTON
    
    .email-us { position: fixed; bottom: 20px; right: 85px;
        .icon { width: 65px; height: 65px; }
    }

    // A.1.2. CONTACT FORM
    
    .form {
        
        .logo { width: 25%; .form-logo { width: 100%; height: auto; }}
        .contact-form { width: 75%; }
        
        h3 { font-size: $large; padding: 0 $baseline; color: $kd-royal; }}

    .wpcf7-form {
        
        padding: $baseline;
        
        p { width: 100%; @extend .grid; }
        
        .wpcf7-form-control-wrap {
            
            @extend .grid__item;
            @extend .one-whole;
            @extend .desk--one-third;
            @extend .desk-wide--one-third;
            
        }
        
        .wpcf7-submit { text-align: right; }
        
    }
    
    .wpcf7-response-output { margin: 0; padding: $baseline-small; color: $kd-royal; }

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {

        padding: 60px 0;

        // A.1.1. Email Us
        
        .email-us { display: none; }
        
        // A.1.3. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {

        padding: 60px 0;

        // A.1.1. Email Us
        
        .email-us { display: none; }
        
        // A.1.1. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {

        padding: 60px 0;

        // A.1.1. Email Us
        
        .email-us { display: block; }

        // A.1.2. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {

        // A.1.1. Email Us
        
        .email-us { display: block; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {

        // A.1.1. Email Us
        
        .email-us { display: block; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}    
    
// END OF FILE ########################################################################################################