// 2. SECTION [ 2.3. FOOTEND ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FOOTEND -------------------------------------------------------------------------------------------------------

#footend {

    background: $kd-lilac;
    padding: 60px 0;

    h6 {
        text-align: center;
        color: $kd-royal;
        margin: 0;
        font-size: $small;

        a {
            color: $black;
        }		       
    }

    figure {
        text-align: center;

        img {

            display: inline-block;

        }
    }
    
    // A.1.1. CAPTAIN FORM
    
    .form {
        
        h3 { font-size: $large; padding: 0 $baseline; color: $kd-royal; }
        
    }

    .wpcf7-form {
        
        padding: $baseline;
        
        p { width: 100%; @extend .grid; }
        
        .wpcf7-form-control-wrap {
            
            @extend .grid__item;
            @extend .one-whole;
            @extend .desk--one-third;
            @extend .desk-wide--one-third;
            
        }
        
        .wpcf7-submit { text-align: right; }
        
    }
    
    .wpcf7-response-output { margin: 0; padding: $baseline-small; color: $kd-royal; }
    
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    #footend {
        padding: 60px 0;
        
        // A.1.1. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #footend {
        padding: 60px 0;
        
        // A.1.1. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #footend {
        padding: 60px 0;
        
        // A.1.1. CAPTAIN FORM

        .wpcf7-form {

            .wpcf7-form-control-wrap {

                input { 
                    width: 100%; 
                    margin-bottom: $baseline-smaller; 
                    box-sizing: border-box;
                }
            }
        }
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################