// 1. OBJECT [ 1.5. SECTIONS ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. DIFFERENT -----------------------------------------------------------------------------------------------------

#section-our-vision {

    background: $kd-royal;
    padding: 0 0 40px 0;
    color: $ia-grey20;

    //B.1.1. page header

    .section-header {

        h2 {
            
            color: $ia-grey20;
            margin: 0 0 35px 0;
            line-height: normal;
            
        }

        p { color: $ia-grey20; }					
    }

    //B.1.2. Objective Icon
    
    .figure__our-vision {
        
        @extend .tablet--one-whole;
        @extend .mobile--one-whole;
        @extend .feature--one-whole;
        
        margin: 0;
        
        img { width: 100%; height: auto; }
        
    }
    
    //B.1.3. Our Vision Text
    
    .our-vision {
        
        @extend .tablet--one-whole;
        @extend .mobile--one-whole;
        @extend .feature--one-whole;
        
        p { text-align: left; margin-left: $baseline; color: $white; }
        
    }


.figure-teamBottom {
    
    background: url(../images/site/staff-footer.png) top center no-repeat;

    // RESPONSIVE
    padding: 30px 0;
    margin: 60px 0 -60px 0;
    // RESPONSIVE

}

// B.1. End

}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    // A.1.1 ABOUT US
    #section-our-vision {	

        // RESPONSIVE
        padding: 0 0 40px 0;
        // RESPONSIVE

        // B.1. Components

        .container { margin: 0 $baseline-small; }  
        .figure__our-vision { margin-bottom: $baseline-small; }

        //B.1.1. page header

        .section-header {

            h2 {
                // RESPONSIVE
                margin: 0 0 35px 0;
                // RESPONSIVE
            }				
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #section-our-vision {	

        // RESPONSIVE
        padding: 0 0 40px 0;
        // RESPONSIVE

        // B.1. Components

        .container { margin: 0 $baseline-small; } 
        .figure__our-vision { margin-bottom: $baseline-small; }

        //B.1.1. page header

        .section-header {

            h2 {
                // RESPONSIVE
                margin: 0 0 35px 0;
                // RESPONSIVE
            }				
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.1 ABOUT US

    #section-our-vision {

        .container { margin: 0 $baseline-small; }
        .figure__our-vision { margin-bottom: $baseline-small; }

    }

    // A.1.1. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.1 ABOUT US

    #section-our-vision {

        .container { margin: 0 auto; }   
    
        //B.1.3. Our Vision Text

        .our-vision {

            p { font-size: $small; }

        }
    }

    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.1 ABOUT US

    #section-our-vision {

        .container { margin: 0 auto; }
    
        //B.1.3. Our Vision Text

        .our-vision {

            p { font-size: $normal; }

        }
    }

    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################