// 2. SECTION [ 2.5. SERVICES ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------
	
// E.1. anchor padding to align screen top

#top-services {
    padding: 55px 0;	
}


// E.2. containing div elements

#section-services {
    
    background: $kd-mauve;

    .section-header {

        h2 {
            color: $ia-grey90;
            // RESPONSIVE
            margin-bottom: $baseline-large;
            // RESPONSIVE
            line-height: normal;
        }
					
    }

    // E.1. Intro text
    // E.1. Services Grid
    
    .services {
        
        .one-half {

            position: relative;
            
            @extend .mobile--one-whole;
            @extend .feature--one-whole;
            
            h1 { 
                position: absolute; 
                top: 5%; 
                left: 5%; 
                color: $white; 
                text-shadow: 0 0 10px $ia-grey80; 
                line-height: normal;
            }
            
            .figure__image { margin: 0; img { width: 100%; height: auto; }}
        }
    }
    
    // E.1. Keywords
    
    .key-words {
        
        margin: $baseline-large auto;
        
        ul {
            
            @extend .grid;
            
            li {
                
                @extend .grid__item;
                @extend .one-tenth;
                
                background: $kd-royal;
                padding: $baseline-small;
                color: $white;
                text-align: center;
                
            }
        }
    }
    
    // E.1. Client Logos
    
    .grid__logos {
        
        @extend .mobile--one-half;
        @extend .feature--one-half;
        
        position: relative;
        
        img { width: 90%; height: auto; margin: $baseline auto; }
        
    }
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {
	
		// E.1. anchor padding to align screen top
		
		#top-services {
			padding: 55px 0;	
		}
		
		
		// E.2. containing div elements
		
		#section-services {
		
		    .section-header {
		    	
		    	h2 {
		    	    // RESPONSIVE
		    	    margin-bottom: 35px;
		    	    // RESPONSIVE
		    	}
		    	
		    	p {
		    	    // RESPONSIVE
		    	    margin-bottom: 65px;
		    	    // RESPONSIVE
		    	}					
		    }
			
			// RESPONSIVE
			padding: 0 0 40px;
			// RESPONSIVE
			
			// E.2.1. Components
			
			
			//
			
			.figure-servicesTop {
			
				// RESPONSIVE
				margin-top: -60px;
    			padding: 90px 0;
    			// RESPONSIVE
			}			
			
			//
			
			.services-group	{
				
				.services-item	{
					// RESPONSIVE
					margin: 20px 0 0 0;
					// RESPONSIVE
					
				}
					
			}
			
			
    		// E.1. End			
		}
	
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

	
		// E.1. anchor padding to align screen top
		
		#top-services {
			padding: 55px 0;	
		}
		
		
		// E.2. containing div elements
		
		#section-services {
		
		    .section-header {
		    	
		    	h2 {
		    	    // RESPONSIVE
		    	    margin-bottom: 35px;
		    	    // RESPONSIVE
		    	}
		    	
		    	p {
		    	    // RESPONSIVE
		    	    margin-bottom: 65px;
		    	    // RESPONSIVE
		    	}					
		    }
			
			// RESPONSIVE
			padding: 0 0 40px;
			// RESPONSIVE
			
			// E.2.1. Components
			
			
			//
			
			.figure-servicesTop {
			
				// RESPONSIVE
				margin-top: -60px;
    			padding: 90px 0;
    			// RESPONSIVE
			}			
			
			//
			
			.services-group	{
				
				.services-item	{
					// RESPONSIVE
					margin: 20px 0 0 0;
					// RESPONSIVE
					
				}
					
			}
			
			
    		// E.1. End			
		}
	

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################