// 2. SECTION [ 2.5. SERVICES ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------
	
#section-team {

    background: $kd-royal;

    // F.1. Components

    .figure-teamTop {
        
        background: url(../images/services/services-top-icon.png) top center no-repeat;

        // RESPONSIVE
        margin-top: -60px;
        padding: 90px 0;
        // RESPONSIVE
    }			

    .section-header {
        
        margin-bottom: $baseline-large;
        
        h2 { color: $ia-grey10; }
        
        .icon {
            
            @include icon (100px, 100px, $ia-grey20);   
            
        }

        //

        span {
            border-top: 5px dotted $ia-grey20;
            padding: 0 40px;
        }
    }
    
    // A.1.5. Team List
    
    .team-list {
        
        .team-item {
            
            position: relative;
            overflow: hidden;
            @extend .tablet--one-quarter;
            @extend .mobile--one-half;
            @extend .feature--one-half;
            
            margin-bottom: $baseline;
            
            .pic { width: 90%; margin: 0 auto; border-radius: 100%; margin-bottom: $baseline-small; }
            h3, h4 { margin: 0; text-align: center; color: $white; }
            
            .pic-hover { @include position(absolute, 0); transform: translateX(-100%); }
            
            &:hover {
                
                .pic-hover { transform: translateX(-50%); left: 50%; width: 90%; border-radius: 100%; }    
                
            }
        }
    }
    
    .team-carousel {
        
        width: 60%;
        margin-top: $baseline-large;
        
    }
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    // A.1.1 CASE STUDIES

    #section-casestudies {

        // F.1. Components

        //

        .section-header {

            span {
                padding: 0 40px;
            }
        }

        //

        .casestudies-group	{

            .casestudies-item	{

                .bob-caseHover {
                    padding: 20px 0 10px;
                }

            }

        }

    }
    
    // A.1.1. END
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    // A.1.1 CASE STUDIES

    #section-casestudies {

        // F.1. Components

        //

        .section-header {

            span {
                padding: 0 40px;
            }
        }

        //

        .casestudies-group	{

            .casestudies-item	{

                .bob-caseHover {
                    padding: 20px 0 10px;
                }

            }

        }

    }
    
    // A.1.1. END
    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.1 CASE STUDIES

    #section-casestudies {

        // F.1. Components

        //

        .section-header {

            span {
                padding: 0 40px;
            }
        }

        //

        .casestudies-group	{

            .casestudies-item	{

                .bob-caseHover {
                    padding: 20px 0 40px;
                }

            }

        }

    }
    
    // A.1.1. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.1 CASE STUDIES

    #section-casestudies {

        // F.1. Components

        //

        .section-header {

            span {
                padding: 0 40px;
            }
        }

        //

        .casestudies-group	{

            .casestudies-item	{

                .bob-caseHover {
                    padding: 20px 0 40px;
                }

            }

        }

    }
    
    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.1 CASE STUDIES

    #section-casestudies {

        // F.1. Components

        //

        .section-header {

            span {
                padding: 0 40px;
            }
        }

        //

        .casestudies-group	{

            .casestudies-item	{

                .bob-caseHover {
                    padding: 20px 0 40px;
                }

            }

        }

    }
    
    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################