// 2. SECTION [ 2.5. SERVICES ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------
	
#section-team {

    background: $kd-royal;

    // F.1. Components		

    .section-header {
        
        h2 { color: $kd-lilac; margin: 0; }
        
        .icon {
            
            @include icon (100px, 100px, $ia-grey20);   
            
        }

        //

        span {
            border-top: 5px dotted $ia-grey20;
            padding: 0 40px;
        }
    }
    
    // A.1.5. Team List
    
    .team-list {
        
        .team-item {
            
            position: relative;
            overflow: hidden;
            @extend .tablet--one-quarter;
            @extend .mobile--one-half;
            @extend .feature--one-half;
            
            margin-bottom: $baseline;
            
            .pic { width: 50%; margin: 0 auto; border-radius: 100%; margin-bottom: $baseline-small; }
            .team-text { margin: 0; text-align: center; }
            h3 { font-size: $normal; color: $kd-mauve; }
            h4 { font-size: $small; color: $white; }
            
            .pic-hover { @include position(absolute, 0); transform: translateX(-100%); }
            
            &:hover {
                
                .pic-hover { transform: translateX(-50%); left: 50%; width: 50%; border-radius: 100%; }    
                
            }
        }
    }
    
    .team-carousel {
        
        width: 60%;
        margin-top: $baseline-large;
        
    }

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    .section-header { padding-top: $baseline-large; margin-bottom: $baseline-medium; }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .section-header { padding-top: $baseline-medium; margin-bottom: $baseline-medium; }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .section-header { padding-top: $baseline-large; margin-bottom: $baseline-medium; }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .section-header { padding-top: $baseline-large; margin-bottom: $baseline-medium; }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .section-header { padding-top: $baseline-large; margin-bottom: $baseline-medium; }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}    
    
// END OF FILE ########################################################################################################