// 2. SECTION [ 2.7. CONTACT ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

#section-contact {
    
    background: $kd-royal;
    color: #818181;

    // H.1. Components

    .section-header {
        
        margin-bottom: $baseline;
        
        h2 { display: inline-block; color: $kd-lilac; }
    }
    
    // H.2. Brnaches Grid
    
    .section__branches {
        
        .branch {
            
            margin-bottom: $baseline;
            padding-bottom: $baseline;
            border-bottom: 1px solid $kd-mauve;
            
            .figure__image {
                
                @extend .mobile--one-whole;
                @extend .feature--one-whole;
                margin: 0;

                img { width: 100%; height: auto; }

            }
            
            .branch-info {
                
                @extend .mobile--one-whole;
                @extend .feature--one-whole;
                
                .wrapper { margin: 0 $baseline;
                    
                    h3, p, div { color: $white; }
                    
                    h3 { margin: 0; margin-bottom: $baseline-small; font-size: $large; }
                    h4 { margin: 0; margin-bottom: $baseline-small; font-size: $medium; color: $kd-mauve; }
                    p { font-size: $normal; margin-bottom: $baseline-small;
                    
                        &.branch-item { padding-left: 30px; background-size: 20px 20px!important;
                         
                            &.tel { background: url('../images/icons/icon--phone.svg') no-repeat top left; }
                            &.email { background: url('../images/icons/icon--email.svg') no-repeat top left; }
                            &.address { background: url('../images/icons/icon--location.svg') no-repeat top left; }
                        }  
                    }
                }
            }
        }
    }

    // H.1. End			
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    // A.1.1 ABOUT US
	
		#section-contact {
			
			// RESPONSIVE
			padding: 0 0 40px;
			// RESPONSIVE
			
			.figure-map {
			    
			    // RESPONSIVE
				padding: 0 0 60px 0;
				// RESPONSIVE
				
			}
			
			.contact-group	{
				
				.contact-item	{
					
					margin-bottom: 20px;
				}
					
			}
			
    		// H.1. End			
		}
	
    // A.1.1. END
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    // A.1.1 ABOUT US

		#section-contact {
			
			// RESPONSIVE
			padding: 0 0 40px;
			// RESPONSIVE
			
			.figure-map {
			    
			    // RESPONSIVE
				padding: 0 0 60px 0;
				// RESPONSIVE
				
			}
			
			.contact-group	{
				
				.contact-item	{
					
					margin-bottom: 20px;
				}
					
			}
			
    		// H.1. End			
		}
	
    // A.1.1. END

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.1 ABOUT US



    // A.1.1. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################