// 2. SECTION [ 2.8. FRONT ]  #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

.section-home {

    text-align: center;
    @include position (fixed, 0);

        //A.1.1. page header

        //A.1.2. request info button

        //A.1.3. down arrow button

        //A.1.4. logo


    // A.1. End

}    

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 

    .section-home {

        padding-top: 52px;
        background-size: auto 100%;
        background-position: center center;

        // A.1. Components

            //A.1.1. page header

            .section-header { padding: 0; }

        // A.1. End

    }  

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 

    .section-home {

        padding-top: 52px;
        background-size: auto 100%;
        background-position: center center;

        // A.1. Components

            //A.1.1. page header

            .section-header { padding: 0; }
        
        // A.1. End

    }  
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { 

    .section-home {

        padding-top: 170px;
        background-size: auto 100%;
        background-position: center center;

        //A.1.1. page header

        .section-header { padding: 0 0 0px 0; }

        // A.1.1. End
    }  
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { 

    .section-home { padding-top: 199px; }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { 

    .section-home { padding-top: 199px; }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################